.hosting-services-main {
  padding: 50px 20px 30px 20px;
  h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 4px 4px 4px #4b2e83, 4px 4px 4px #4b2e83, 4px 4px 4px #4b2e83,
      4px 4px 4px #4b2e83;
    margin-bottom: 10px;
  }
  p {
    max-width: 80%;
  }
  .carousel-container {
    width: 90%;
    margin-top: 50px;
  }
  .carousel-container .slick-slide {
    padding: 0 10px; /* Adjust the value to create the desired gap */
  }
  .carousel-container img {
    width: 100%;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #4b2e83;
    border-radius: 20px;
  }
}
