.service-container {
    padding: 7em 0;
    position: relative;
    width: 100%;
    background: url(../../assets/ben.png) repeat;
    background-attachment: fixed;
    text-align: center;

    .container {
        max-width: 1050px;
        margin: 0 auto;

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -15px;
        }

        .service-card {
            width: calc(33.333% - 30px);
            background: #1c1c1c;
            padding: 30px;
            margin: 15px;
            text-align: center;
            border-radius: 5px;
            position: relative;
            transition: all 0.3s ease;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            &:hover {
                background-color: #4b2e83;
                transform: translateY(-5px);
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
            }

            h3 {
                color: white;
                margin-bottom: 15px;
            }

            p {
                color: #b8b8b8;
                font-size: 14px;
            }

            .icon {
                font-size: 50px;
                color: #4b2e83;
                margin-bottom: 20px;
            }

            &.active {
                background-color: #4b2e83;

                .icon {
                    color: #1c1c1c;
                }
            }
        }
    }
}